<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite>
<suite name="ParallelTests" parallel="tests" thread-count="3">
  <test name="Test1">
        <classes>
            <class name="RegisterFunctionality.TC_RF_001"/>
        </classes>
    </test>
    <test name="Test2">
        <classes>
            <class name="RegisterFunctionality.TC_RF_004"/>
        </classes>
    </test>
    <test name="Test3">
        <classes>
            <class name="RegisterFunctionality.TC_RF_005"/>
        </classes>
    </test>
  
</suite>

	
